@CHARSET "UTF-8";

body {
    font-size: 1.5em;
    overflow: hidden;
    background-color: grey;
    text-shadow: #000 3px 3px 3px;
    font-family: 'Open Sans', sans-serif;
}


h1 {
    text-align: center;
    padding: 10px;
    color: blue;
    background: rgba(0, 0, 0, 0.2);
    margin: 0;
}

video {
    min-width: 100%;
    min-height: 100%;
    position:fixed;
}

.video-skin {
	position: absolute;
	display:block;
	bottom: 0px;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 70px;
}

.time-info {
	width: 300px;
	color: #fff;
	font-family: 'RobotoRegular';
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	font-size: 27px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 7px;
}

.progress {
  height: 20px;  
  position: relative;
  width: 100%;
  background-color: white;
  /* background-color: rgba(0,0,0,0.8); */
}

#progress-amount {
  display: block;
  height: 100%;
  background-color: cyan;
  width: 0px;
}